<div class="spacer"></div>
<div class="sign-in-container" id="container">
    <!-- Rest of the container content -->
    <div class="sign-in-wrapper">
      <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm)">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <div class="sign-in-input-fields">
          <input type="email" [(ngModel)]="credentials.email" name="email" placeholder="Email" />
          <input type="password" [(ngModel)]="credentials.password" name="password" placeholder="Password" />
        </div>         
        <button routerLink="/home">Sign In</button>
      </form>
    </div>

    <div class="overlay-container">
        <div class="overlay-panel">
          <h1>Hi There!</h1>
          <p>Enter your personal details to open an account with us</p>
          <button id="signUp" routerLink="/sign-up">
            Sign Up
          </button>
        </div>
    </div>
</div>
