/* Detailed recipe styling */
.detailedRecipeMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}
.videoContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    height: 100%;
    padding-top: 5rem;
}
.videoContainer video {
    width: 100%;
    height: auto;
    display: block;
}
.videoContainer h3 {
    text-align: left;
    width: 100%;
}
.detailedRecipeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    padding-bottom: 3rem;
}
.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
    width: 80%;
    height: auto;
}
.ingredientCard {
    background-color: rgb(241, 241, 241);
    width: 48%;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.75rem;
}
.ingredientCard p {
    font-weight: 700;
    padding-left: 1rem;
}
.instructionCard {
    background-color: rgb(241, 241, 241);
    width: 48%;
    height: fit-content;
    padding: 1rem;
    border-radius: 0.75rem;
}
.instructionCard p {
    font-weight: 700;
    padding-left: 1rem;
}
.secondaryButton {
    width:125px;
    height:40px;
    background-color: rgb(241, 241, 241);
    color:var(--black);
    font-size:14px !important;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    margin-top:20px;
    cursor: pointer;
    border: 2px solid black;
}
.secondaryButton:hover {
    background-color: var(--black);
    color: var(--white);
}
.suggestionsCard {
    background-color: rgb(241, 241, 241);
    width: 80%;
    height: fit-content;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 0.75rem;
}
.ingredientCard span {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ingredientCard .addButton {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.ingredientCard span p {
    display: flex;
    text-align: center;
    margin: 0;
    font-weight: normal;
}
.ingredientCard .addButton svg {
    vertical-align: bottom;
}



@media (max-width:975px){
.videoContainer {
    width: 100%;
}
.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
}
.ingredientCard {
    width: 100%;
    margin-bottom: 2rem;
}
.instructionCard {
    width: 100%;
}
.suggestionsCard {
    width: 100%;
}
}