<section class="detailedRecipeMedia">
  <div class="buttonAndHeader">
    <h3>{{ recipe?.title }}</h3>
    <button class="primaryButton" style="margin: 0; width: 210px;" (click)="toggleListening()" >
      {{ isListening ? 'Stop Voice Commands' : 'Start Voice Commands' }}
    </button>
  </div>
  <div id="recipeMediaCarousel" class="videoContainer carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div *ngFor="let mediaItem of recipe?.media; let isFirst = first" class="carousel-item" [class.active]="isFirst">
        <!-- Display video if media item is a video -->
        <video #videoPlayer *ngIf="mediaItem?.type?.startsWith('video')" class="d-block w-100" controls>
          <source [src]="getFullMediaUrl(mediaItem.url)" [type]="mediaItem?.type">
          Your browser does not support the video tag.
        </video>
        <!-- Display image if media item is an image -->
        <img *ngIf="mediaItem.type.startsWith('image')" [src]="getFullMediaUrl(mediaItem.url)" class="d-block w-100" alt="{{ recipe?.title }}">
      </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#recipeMediaCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#recipeMediaCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section class="detailedRecipeInfo">
  <div class="cardContainer">
      <div class="ingredientCard">
          <h3>Ingredient List</h3>
          <button (click)="readIngredients()">Read Ingredients</button>
          <div *ngFor="let ingredient of recipe?.ingredients">
            <p>{{ ingredient.name }} - {{ ingredient.quantity }}</p>
          </div>
      </div>
      <div class="instructionCard">
          <h3>Instructions</h3>
          <button (click)="readInstructions()">Read Instructions</button>
          <div *ngFor="let instruction of recipe?.instructions">
            <strong>{{ instruction.step }}</strong>
            <p>{{ instruction.description }}</p>
          </div>
      </div>
  </div>
</section>
