<section class="detailedRecipeMedia">
  <!-- Loop through all media items and display them -->
  <h3>{{ recipe?.title }}</h3>
  <div class="videoContainer" *ngFor="let mediaItem of recipe?.media">
    
    <!-- Check if the media item is a video -->
    <video *ngIf="mediaItem?.type?.startsWith('video')" controls autoplay>
        <source [src]="getFullMediaUrl(mediaItem.url)" [type]="mediaItem?.type">
        Your browser does not support the video tag.
    </video>
    <!-- Check if the media item is an image -->
    <img *ngIf="mediaItem.type.startsWith('image')" [src]="getFullMediaUrl(mediaItem.url)" alt="{{ recipe?.title }}">
  </div>
</section>

<section class="detailedRecipeInfo">
  <div class="cardContainer">
      <div class="ingredientCard">
          <h3>Ingredient List</h3>
          <ul>
              <!-- Safely iterate over ingredients if they exist -->
              <li>{{ recipe?.ingredients }}</li>
          </ul>
      </div>
      <div class="instructionCard">
          <h3>Instructions</h3>
          <!-- Safely display instructions if they exist -->
          <p>{{ recipe?.instructions }}</p>
      </div>
  </div>
</section>
