<section class="detailedRecipeMedia">
    <div class="videoContainer">
        <h3>Pizza</h3>
       <video controls autoplay>
            <source src="./assets/images/recipe-video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>   
    </div>
</section>

<section class="detailedRecipeInfo">
    <div class="cardContainer">
        <div class="ingredientCard">
            <h3>Ingredient List</h3>
            <span>
                <button class="addButton">
                    <svg width="16px" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm0 1.5c-4.69 0-8.497 3.808-8.497 8.498s3.807 8.497 8.497 8.497 8.498-3.807 8.498-8.497-3.808-8.498-8.498-8.498zm-.747 7.75h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" fill-rule="nonzero"/></svg>
                </button>
                <p>2 cup all purpose flour</p>
            </span>           
            <span>
                <button class="addButton">
                    <svg width="16px" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm0 1.5c-4.69 0-8.497 3.808-8.497 8.498s3.807 8.497 8.497 8.497 8.498-3.807 8.498-8.497-3.808-8.498-8.498-8.498zm-.747 7.75h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" fill-rule="nonzero"/></svg>
                </button>
                <p>2 cup all purpose flour</p>
            </span>            
            <span>
                <button class="addButton">
                    <svg width="16px" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm0 1.5c-4.69 0-8.497 3.808-8.497 8.498s3.807 8.497 8.497 8.497 8.498-3.807 8.498-8.497-3.808-8.498-8.498-8.498zm-.747 7.75h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" fill-rule="nonzero"/></svg>
                </button>
                <p>2 cup all purpose flour</p>
            </span>                     
            <span>
                <button class="addButton">
                    <svg width="16px" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm0 1.5c-4.69 0-8.497 3.808-8.497 8.498s3.807 8.497 8.497 8.497 8.498-3.807 8.498-8.497-3.808-8.498-8.498-8.498zm-.747 7.75h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" fill-rule="nonzero"/></svg>
                </button>
                <p>2 cup all purpose flour</p>
            </span>           
            <button class="secondaryButton">Add all to card</button>
        </div>
        <div class="instructionCard">
            <h3>Instructions</h3>
            <ul>
                1 teaspoon chilli flakes
                1 teaspoon baking powder
                1 teaspoon sugar
                2 teaspoon virgin olive oil
                100 gm processed cheese
                4 mushroom
                1/2 capsicum (green pepper)
                1 teaspoon oregano
                1/2 cup mozzarella
                1 tablespoon dry yeast
                water as required
            </ul>
        </div>
    </div>
        <div class="suggestionsCard">
            <h3>What to cook with</h3>
            <div class="recipesGrid">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="./assets/images/recipe-1.jpg" class="card-img-top" alt="recipe image 1">
                    <div class="card-body">
                      <h5 class="card-title">Salmon in Creamy Tomato Sauce</h5>
                      <a class="card-text" routerLink="/detailed-recipe">View Recipe</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="./assets/images/recipe-3.jpg" class="card-img-top" alt="recipe image 3">
                    <div class="card-body">
                      <h5 class="card-title">Brownie</h5>
                      <a class="card-text" routerLink="/detailed-recipe">View Recipe</a>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="./assets/images/recipe-4.jpg" class="card-img-top" alt="recipe image 4">
                    <div class="card-body">
                      <h5 class="card-title">Pizza</h5>
                      <a class="card-text" routerLink="/detailed-recipe">View Recipe</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
</section>