<section class="profilePage">
    <div class="mainProfilePage">
        <div class="profileFirstLine">
            <h1>Profile</h1>
            <button class="saveButton">SAVE</button>
        </div>

        <div class="profileSecondLine">
            <img src="./assets/images/user-icon.png" class="profileIcon" alt="Profile Icon">
            <div class="profilebuttoncontainer">
                <button class="deletePhotoButton">Delete</button>
                <button class="changePhotoButton">Change Photo</button>
            </div>
        </div>
        
        <form action="userInfoForm">
            <div class="userInfo">
                <div>
                    <label for="fullname">Full Name</label>
                    <input type="text" id="fullname" name="fullname" placeholder="Name Surname" required>
                </div>
                <div>
                    <label for="username">User Name</label>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                </div>
            </div>
            <div class="userInfo">
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="user@recipenomad.com" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="**********" required>
                </div>
            </div>    
        </form>

        <div class="profileThirdLine">
            <p>deneme deneme deneme</p>
        </div>
        <div class="buttonContainer"> <!-- Yeni eklenen konteyner -->
            <button class="changePasswordButton">Change Password</button>
            <button class="signOutButton">Sign Out</button>
            <button class="deleteAccountButton">Delete Account</button>
        </div>
    </div>
</section>
