<section class="homeBanner" id="marsmiles">
    <div class="homeBannerContent">
        <div class="left">
            <h2>Cooking Made Fun and Easy: Unleash Your Inner Chef</h2>
            <p>Get any help from voice commands. Enjoy hands-free cooking experience.</p>
            <div class="buttonContainer">
                <a class="moreInformationButton marsMilesFix" routerLink="/all-recipes">                       
                    <span>See Recipes</span>
                </a>
                <a class="moreInformationButton marsMilesFix" routerLink="/create-recipes">                       
                    <span>Create Recipe</span>
                </a>
            </div>        
        </div>
        <div class="right">
            <img src="./assets/images/plate.webp" alt="Home page plate"/>
        </div>
    </div>
</section>