<section class="homeBanner">
    <!-- Home banner start -->
    <div class="homeBannerContent">
        <div class="left">
            <h2>Cooking Made Fun and Easy: Unleash Your Inner Chef</h2>
            <p>Get any help from voice commands. Enjoy hands-free cooking experience.</p>
            <div class="buttonContainer">
                <button class="primaryButton" routerLink="/all-recipes">                       
                   See Recipes
                </button>
                <button class="primaryButton" routerLink="/create-recipes">                       
                    Create Recipe
                </button>
            </div>        
        </div>
        <div class="right">
            <img src="./assets/images/plate.webp" alt="Home page plate"/>
        </div>
    </div>
</section>
    <!-- Home banner end -->
    <!-- All recipes preview start -->
    <section class="recipesPreview">
        <div class="recipesPreviewContent">
            <h3>Your all time favorite recipes</h3>
            <div class="recipesGrid">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="./assets/images/recipe-1.jpg" class="card-img-top" alt="recipe image 1">
                    <div class="card-body">
                      <h5 class="card-title">Salmon in Creamy Tomato Sauce</h5>
                      <a class="card-text" routerLink="/detailed-recipe">View Recipe</a> 
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="./assets/images/recipe-2.jpg" class="card-img-top" alt="recipe image 2">
                    <div class="card-body">
                      <h5 class="card-title">Blueberry Pancake</h5>
                      <a class="card-text" routerLink="/detailed-recipe">View Recipe</a> <!-- Go spesific recipe detail page after backend -->
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="./assets/images/recipe-3.jpg" class="card-img-top" alt="recipe image 3">
                    <div class="card-body">
                      <h5 class="card-title">Brownie</h5>
                      <a class="card-text" routerLink="/detailed-recipe">View Recipe</a> 
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <img src="./assets/images/recipe-4.jpg" class="card-img-top" alt="recipe image 4">
                    <div class="card-body">
                      <h5 class="card-title">Pizza</h5>
                      <a class="card-text" routerLink="/detailed-recipe">View Recipe</a> 
                    </div>
                  </div>
                </div>
              </div>
            </div>



        </div>

    </section>


