<div class = "container">
  <section class = "aboutUs">
    <div class = "aboutUsHead1">
      <h3>
        About
      </h3>
        <div class = "aboutUsHead2">
      <h2>
          We're a group of foodies who love cooking and the coding
      </h2>
      </div>
    </div>
  </section>

  <section class = "photoAndDesc">
    <img src="./assets/images/Crepe.jpg" alt="About us crepe"/>
    <p>Recipe Nomad is a remarkable online platform that caters to culinary enthusiasts by
        offering a personalized kitchen journal experience. This revolutionary web application
        redefines the cooking journey by providing users with the unique ability to keep their
        recipes private, allowing for a truly customized culinary experience.<br>
        Recipe Nomad caters to individuals at every skill level, whether they are beginners or
        seasoned chefs. Users can meticulously document their recipes, detailing ingredients,
        steps, and multimedia content, such as photos and videos of the cooking process.
        This feature ensures that users can keep track of their culinary creations with ease.</p>
  </section>
<section class="aboutUsMembers">
  <div class="memberCategories">
    <h2>Team Members</h2>
    <div class="memberSection">
      <div class="memberLogos">
        <img src="./assets/images/breakfastLogo.jpg" class="imgLogo" alt="new logo">
        <h2 class="categoriesSubtitle">Elif Güney</h2>
      </div>
      <div class="memberLogos">
        <img src="./assets/images/breakfastLogo.jpg" class="imgLogo" alt="breakfast logo">
        <h2 class="categoriesSubtitle">İzzet Cem İbik</h2>
      </div>
      <div class="memberLogos">
        <img src="./assets/images/dessertsLogo.jpg" class="imgLogo" alt="desserts logo">
        <h2 class="categoriesSubtitle">Tan Leblebici</h2>
      </div>
    </div>
  </div>
</section>
</div>

