.container {
  display: flex;
  flex-direction: column;
}

.aboutUs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5rem;
  height: auto;
}

.aboutUs .aboutUsHead1 h3 {
  height: 100px;
}

.aboutUs .aboutUsHead2{
  height: auto;
}

.photoAndDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  height: auto;
}

.photoAndDesc img {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.photoAndDesc p {
  text-align: left; /* Align text to center */
}

.twinBannerContent {
  display: flex;
  width: 80%;
  justify-content: center; /* Change to center */
  align-items: center;
}

.twinBannerContent .left {
  width: 50%; /* Adjusted width */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Change to flex-start */
}

.twinBannerContent .left h3 {
  width: 100%; /* Adjusted width */
  margin-bottom: 1rem;
}

.twinBannerContent .left p {
  font-size: 18px;
  margin-bottom: 1rem;
}

.twinBannerContent .right {
  width: 50%; /* Adjusted width */
  display: flex;
  justify-content: center; /* Change to center */
}

.twinBannerContent .right img {
  max-width: 100%; /* Adjusted max-width */
  height: auto; /* Maintain aspect ratio */
}

.aboutUsMembers{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.memberCategories{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin-bottom: 2rem;
}
.memberCategories h2{
  text-align: center;
  width: 100%;
}

.memberSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.memberCategories .categoriesTitle{
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
}
.memberLogos{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; /* Added */
}
.memberLogos .imgLogo{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  object-fit: cover;
}
.categoriesSubtitle{
  font-size: 18px;
}

/* Added */
.memberLogos {
  align-items: center;
}

.memberSection {
  justify-content: center;
}


















